.navHome{
  background-color: antiquewhite;
  height: 50px;
  width: 100%%;
}

.navHome ul {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navHome ul li {
  list-style: none;
}

.navHome ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  box-shadow:inset;
}

.hero{
  height: 400px;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url(../gearFive.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: white;
  font-size: 200px;
}